{% extends 'index.html' %}
{% block body%}

  <center>
    <h1>Veuillez sélectionner un type d'enseigne</h1><br>
    <div id="demande">
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.dist }}
        <input type ="submit">
    </form>
    </div>
  </center>      
  <br>
  <br>


    <!--- Ici je defini la gueule de ma maps et son id-->
    <div id="map" style="height: 800px;"></div>
    <script type="text/javascript">
        var volume = {{data.name | safe}}
        var lattitude = {{data.lat}};
        var longitude = {{data.long}};
        var idier = {{data.id}};

        //var coordonlat = {{data.lat}};
        // The first parameter are the coordinates of the center of the map
        // The second parameter is the zoom level
        var map = L.map('map').setView([48.389704, -4.487086], 12);
        
        // {s}, {z}, {x} and {y} are placeholders for map tiles
        // {x} and {y} are the x/y of where you are on the map
        // {z} is the zoom level
        // {s} is the subdomain of cartodb
          var layer = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
        });
        var redIcon = new L.Icon({
          iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
          shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });

        var blueIcon = new L.Icon({
          iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
          shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });
        
        // Now add the layer onto the map
        map.addLayer(layer);
        // It even opens up a popup when you click it!
        console.log("HElllo world");
        for(var i = 0 ; i < lattitude.length ; i = i+1)
        {
          L.marker([lattitude[i], longitude[i]],{icon : blueIcon}).addTo(map)
          .bindPopup("<strong><a href = /"+idier[i]+">"+volume[i]+"</strong>").openPopup();
        }
        function onLocationFound(e) {
        var radius = e.accuracy / 2;

        L.marker(e.latlng,{icon : redIcon}).addTo(map)
            .bindPopup("You are within " + radius + " meters from this point").openPopup();

        L.circle(e.latlng, radius).addTo(map);
        }

        function onLocationError(e) {
            alert(e.message);
        }

        map.on('locationfound', onLocationFound);
        map.on('locationerror', onLocationError);

        map.locate({setView: true, maxZoom: 13});

      </script>
      <br><br><br>


{% endblock body %}